* {
    list-style: none;
}
body {
    font-family: Georgia;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Liberation Sans";
}
h1, h2 {
    text-align: center;
}
main {
    display: flex;
    justify-content: center;
    width: 100%;
}
#navcol {
    display: flex;
    flex-direction: column;
    min-width: 240px;
}
#listsnippets {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    width: 34%;
}
#listsnippets h1 {
    padding-top: 20px;
}
#listsnippets ul {
    padding: 10px;
}
#listsnippets li {
    padding: 0px 5px;
}
#listsnippets h2 {
    text-align: left;
    font-size: 1em;
    font-weight: bold;
}
.selected {
    background-color: palegreen;
}
#titlesnippet {
    text-align: left;
    font-size: 1.6em;
}
section {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0px 10px;
    width: 66%;
}
section h1 {
    padding-top: 20px;
}
form {
    align-self: center;
    padding: 10px;
    width: 90%;
}
form div {
    display: flex;
    justify-content: center;
}
form label {
    min-width: 130px;
    width: 20%;
}
