* {
    list-style: none;
}
h1, h2 {
    text-align: center;
}
main {
    display: flex;
    justify-content: center;
    width: 100%;
}
#listsnippets {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 10px;
}
#listsnippets h1 {
    padding-top: 20px;
}
#listsnippets ul {
    padding: 10px;
}
#listsnippets li {
    padding: 0px 5px;
}
.selected {
    background-color: palegreen;
}
.flexgrow2 {
    flex-grow: 2;
}
#titlesnippet {
    text-align: left;
}
section h1 {
    padding-top: 20px;
}
form {
    padding: 10px;
    width: 80%;
}
form div {
    display: flex;
    justify-content: center;
}
form label {
    width: 20%;
}
